# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
*.class
Spring_Aspect.iml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_7_4.xml
.idea/libraries/Maven__org_springframework_spring_expression_3_2_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_3_2_11_RELEASE.xml
.idea/misc.xml
.idea/libraries/Maven__org_springframework_spring_aop_3_2_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aspects_3_2_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_3_2_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_3_2_11_RELEASE.xml
.idea/vcs.xml
